<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h5>Input: <%=@input%></h5><br>
    <h5>Conversion: <%=@origin_unit%> to <%=@convert_unit%></h5><br>
    Output:<h5 id="container"><%=@output%></h5> degrees <%=@convert_unit%>
  </body>
</html>
